{% for reply in comment.replies %}
    <div id="replies-{{ reply.id }}" class="ml-4 border-l-2 border-gray-200 pl-4 mt-2">
        <p><strong>{{ reply.author.first_name }} {{ reply.author.last_name }}</strong></p>
        <p>{{ reply.comment }}</p>
        <p class="text-xs text-gray-500">{{ reply.date|date:"d M Y H:i" }}</p>
        {% with comment=reply template_name='comment_add_reply.html' %}
            {% include template_name %}
        {% endwith %}
        {% if reply.replies %}
            <button onclick="toggleReplies({{ reply.id }})" class="bg-blue-500 text-white px-2 rounded hover:bg-blue-500 mt-1">Replies</button>
            <div id="nested-replies-{{ reply.id }}" class="hidden">
                {% with comment=reply template_name="comment_replies.html" %}
                    {% include template_name %}
                {% endwith %}
            </div>
        {% endif %}
    </div>
{% endfor %}