{% block content %}
{% load static %}
<div class="container mx-auto px-4 py-4">
    <div class="mb-2">
        <input type="text" 
               id="searchInput" 
               class="w-full p-2 border rounded"
               placeholder="Search tickets..."
               autocomplete="off">
    </div>

    <button id="createTicketBtn"
            class="mt-2 mb-2 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
        Create New Ticket
    </button>
    <div id="searchResults">
        {% include 'ticket_list.html' %}
    </div> 
</div>

<script src="{% static "djangoApp/search_bar.js" %}">
    document.cookie = "csrftoken={{ csrf_token }}";

    
</script>
{% endblock %}